.scroll-top {
  background-color: white;
  width: 4em;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 1.5em;
  right: 1.5em;
  border-radius: 12px;
  cursor: pointer;
  pointer-events: all;
  -webkit-box-shadow: 0 0.5em 2.2em rgba(60, 50, 0, 0.12);
  box-shadow: 0 0.5em 2.2em rgba(60, 50, 0, 0.12);
  -webkit-transition: all 330ms ease-in-out;
  transition: all 330ms ease-in-out;
}

.cookies-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  font-size: 1em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.75em;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  background-color: white;
  -webkit-box-shadow: 0 -0.5em 6.4em rgba(60, 50, 0, 0.18);
  box-shadow: 0 -0.5em 6.4em rgba(60, 50, 0, 0.18);
  -webkit-transition: all 330ms ease-in-out;
  transition: all 330ms ease-in-out;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.cookies-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 2.5em;
}

.cookies-info .cookies-header {
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.25em;
  margin: 0;
  color: #2e2e2e;
  white-space: nowrap;
}

.cookies-info .cookies-description {
  font-size: 0.775em;
  font-weight: 400;
  padding: 0.25em;
  margin: 0;
  color: #2e2e2e;
  opacity: 0.5;
}

.cookies-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cookies-agree {
  cursor: pointer;
  pointer-events: all;
  border: none;
  padding: 0.6em 1.5em;
  background: linear-gradient(170deg, #ffa000, #ffc300);
  border-radius: 0.65em;
  -webkit-box-shadow: 0 5px 22px rgba(60, 50, 0, 0);
  box-shadow: 0 5px 22px rgba(60, 50, 0, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.cookies-agree p {
  font-size: 0.825em;
  font-weight: 500;
  color: white;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.cookies-agree:hover {
  -webkit-box-shadow: 0 5px 22px rgba(60, 50, 0, 0.1);
  box-shadow: 0 5px 22px rgba(60, 50, 0, 0.1);
}

.cookies-agree:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-box-shadow: 0 5px 22px rgba(60, 50, 0, 0);
  box-shadow: 0 5px 22px rgba(60, 50, 0, 0);
}

.cookies-disagree {
  cursor: pointer;
  pointer-events: all;
  border: none;
  margin-top: 1em;
  margin-bottom: -0.5em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.cookies-disagree p {
  font-size: 0.75em;
  font-weight: 400;
  color: #ffa900;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.cookies-disagree:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.cookies-disagree:active {
  -webkit-transform: scale(0.985);
  transform: scale(0.985);
}

.nav-bar {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  padding-top: 1vh;
  position: relative;
}

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: -1.25vh;
}

.link-box {
  margin: 0 1.75em;
  margin-top: -0.5em;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 0.9em;
  font-weight: 500;
}

.link-box:hover {
  text-decoration: underline;
}

.logo-box {
  width: 1.75em;
  height: 1.75em;
}

.login-btn {
  margin-top: -1.6em;
  cursor: pointer;
  pointer-events: all;
  border: none;
  font-family: "Poppins";
  font-size: 0.87em;
  font-weight: 500;
  color: #ffa900;
  padding: 0.68em 1.6em;
  background-color: white;
  border-radius: 0.55em;
  -webkit-box-shadow: 0 0px 0px rgba(60, 50, 0, 0);
  box-shadow: 0 0px 0px rgba(60, 50, 0, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.login-btn:hover {
  -webkit-box-shadow: 0 5px 28px rgba(60, 50, 0, 0.125);
  box-shadow: 0 5px 28px rgba(60, 50, 0, 0.125);
}

.login-btn:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-box-shadow: 0 5px 5px rgba(60, 50, 0, 0.01);
  box-shadow: 0 5px 5px rgba(60, 50, 0, 0.01);
}

.login-btn-mobile {
  margin-top: -1.6em;
  cursor: pointer;
  pointer-events: all;
  border: none;
  padding: 2em 5em;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 0px 0px rgba(60, 50, 0, 0);
  box-shadow: 0 0px 0px rgba(60, 50, 0, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.login-btn-mobile p {
  font-size: 4em;
  font-weight: 500;
  color: #ffa900;
  padding: 0;
  margin: 0;
}

.login-btn-mobile:hover {
  -webkit-box-shadow: 0 5px 28px rgba(60, 50, 0, 0.125);
  box-shadow: 0 5px 28px rgba(60, 50, 0, 0.125);
}

.login-btn-mobile:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-box-shadow: 0 5px 5px rgba(60, 50, 0, 0.01);
  box-shadow: 0 5px 5px rgba(60, 50, 0, 0.01);
}

#indicator {
  position: absolute;
  top: -0.17vh;
  background-color: #ffa900;
  height: 0.475em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.mobile-top {
  border-radius: 1.5em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  padding-bottom: 1.75em;
  position: absolute;
  right: 0;
  top: -4.75em;
  z-index: 99999;
  -webkit-box-shadow: 0 5px 25px rgba(60, 50, 0, 0.1);
  box-shadow: 0 5px 25px rgba(60, 50, 0, 0.1);
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99999;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.link-box-mobile {
  text-align: center;
  z-index: 99999;
  text-decoration: none;
  font-size: 5em;
  padding: 0.15em 1.8em;
  margin: 0.15em 0.9em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  outline: default;
}

.login-container {
  width: 100vw;
  height: 100vh;
  inset: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999999999999999999999;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.login-bg {
  background-color: black;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: all;
}

.login-box {
  background-color: white;
  border-radius: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 53em;
  height: 30em;
  min-width: 777px;
  min-height: 450px;
  position: fixed;
  -webkit-box-shadow: 0 7px 40px rgba(60, 50, 0, 0.1);
  box-shadow: 0 7px 40px rgba(60, 50, 0, 0.1);
  pointer-events: all;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.login-left {
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 60%;
  width: 60%;
  min-width: 60%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

.login-right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-header {
  font-weight: 800;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.login-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-disabled {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8em;
  background-color: #f6f6f6;
  border: #979797 0.15em dashed;
  border-radius: 0.6em;
  width: 70%;
}

.disabled-p {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  line-height: 1.45em;
  text-align: center;
  color: #5c5c5c;
  font-weight: 400;
}

.login-google-btn {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffa900;
  border-radius: 0.6em;
  padding: 0.8em 0.95em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 15px rgba(71, 49, 0, 0);
  box-shadow: 0 5px 15px rgba(71, 49, 0, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.login-google-btn:hover {
  -webkit-box-shadow: 0 5px 22px rgba(71, 49, 0, 0.13);
  box-shadow: 0 5px 22px rgba(71, 49, 0, 0.13);
}

.login-google-btn:active {
  -webkit-box-shadow: 0 5px 22px rgba(71, 49, 0, 0);
  box-shadow: 0 5px 22px rgba(71, 49, 0, 0);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.login-google-p {
  font-weight: 500;
  font-size: 0.925em;
  color: white;
  padding: 0;
  margin: 0;
}

.login-info {
  font-weight: 300;
  font-size: 0.65em;
  text-align: center;
  width: 79%;
}

.login-error {
  font-weight: 400;
  font-size: 0.7em;
  text-align: right;
  width: 80%;
  color: #fc3f1e;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: -0.3em;
  padding: 0;
}

.register-p {
  font-weight: 400;
  font-size: 0.75em;
  padding: 0.65em;
  margin: 0;
}

.register-a {
  color: #ffa900;
  text-decoration: none;
  cursor: pointer;
  pointer-events: all;
}

.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 83%;
}

.home-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  height: 87vh;
  position: relative;
}

.more {
  position: absolute;
  bottom: -1em;
  left: 2em;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  pointer-events: all;
  cursor: pointer;
}

.more1 {
  height: 1em;
  border-left: 0.15em solid #ffa900;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.more2 {
  font-size: 1.25em;
  font-weight: 300;
  width: 6.5em;
  padding: 0;
  margin: 0;
  color: #ffa900;
  border-top: 0.1em solid #ffa900;
}

.CTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 2vh;
}

h1 {
  font-weight: 700;
  color: #111111;
  letter-spacing: 0.009em;
  font-size: 3.4em;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: 400;
  color: #4b4b4b;
  letter-spacing: 0.009em;
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  margin-bottom: 0.9em;
}

.CTA-primary {
  color: white;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Poppins";
  background: linear-gradient(165deg, #ff9900, #ffc300);
  padding: 0.65em 2em;
  border-radius: 0.75em;
  cursor: pointer;
  pointer-events: all;
  text-decoration: none;
  -webkit-box-shadow: 0 7px 15px rgba(141, 113, 0, 0.07);
  box-shadow: 0 7px 15px rgba(141, 113, 0, 0.07);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.CTA-primary:hover {
  -webkit-box-shadow: 0 7px 30px rgba(141, 113, 0, 0.16);
  box-shadow: 0 7px 30px rgba(141, 113, 0, 0.16);
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}

.CTA-primary:active {
  -webkit-box-shadow: 0 5px 10px rgba(141, 113, 0, 0.05);
  box-shadow: 0 5px 10px rgba(141, 113, 0, 0.05);
  -webkit-transform: scale(0.985);
  transform: scale(0.985);
}

.CTA-secondary {
  color: #ffa900;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Poppins";
  background: transparent;
  padding: 0.65em 2em;
  border-radius: 0.75em;
  cursor: pointer;
  pointer-events: all;
  text-decoration: none;
  -webkit-transition: all 175ms ease-in-out;
  transition: all 175ms ease-in-out;
}

.CTA-secondary:hover {
  color: #eb9c00;
}

.CTA-secondary:active {
  color: #ffb41d;
}

.reset {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
}

.LN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 2.1em;
}

h5 {
  font-weight: 300;
  font-size: 1.75em;
  color: white;
  text-align: right;
  padding: 0;
  margin: 0;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

.LN-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.LN-container {
  background-color: white;
  border-radius: 1.5em;
  width: 9.35em;
  height: 10.5em;
  margin-left: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 5px 30px rgba(141, 113, 0, 0.1);
  box-shadow: 0 5px 30px rgba(141, 113, 0, 0.1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.LN-txt {
  color: #ffa900;
  font-weight: 800;
  font-size: 4.5em;
}

.home-2 {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  position: relative;
  margin-top: 10em;
}

.top-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.description-image {
  width: 55%;
  max-width: 45%;
  position: relative;
}

.description-image img {
  width: 95%;
  border-radius: 2em;
  -webkit-box-shadow: 0 7px 25px rgba(141, 113, 0, 0.18);
  box-shadow: 0 7px 25px rgba(141, 113, 0, 0.18);
}

.info-part {
  width: 50%;
  padding-left: 2em;
}

.description-header {
  color: #111111;
  font-size: 2.2em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-bottom: 0.5em;
}

.description-p {
  color: #222222;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 2em;
}

.person-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
}

.person-avatar {
  background-color: tomato;
  height: 5.5em;
  width: 5.5em;
  border-radius: 50%;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  margin-top: -2.5em;
}

.person-description {
  background-color: white;
  -webkit-box-shadow: 0 5px 20px rgba(141, 113, 0, 0.1);
  box-shadow: 0 5px 20px rgba(141, 113, 0, 0.1);
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.7em 0;
  padding-top: 3em;
  width: 14.5em;
}

.person-name {
  color: #111111;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0;
  padding-bottom: 0.2em;
  margin: 0;
}

.person-role {
  color: #111111;
  font-weight: 200;
  font-size: 0.85em;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.main-roles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 1.5em 0;
  margin-top: 3em;
  margin-bottom: 4em;
}

.person-class {
  position: absolute;
  color: #f0f0f0;
  font-weight: 800;
  font-size: 5em;
  bottom: -0.9em;
  right: 0em;
  margin: 0;
  padding: 0;
  z-index: -9;
}

.home-section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.home-section-header h2 {
  color: #111111;
  font-weight: 600;
  font-size: 1.7em;
  margin: 0;
  padding: 0;
}

.link-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6em;
}

.link-more p {
  color: #ffa900;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
  font-weight: 500;
}

.home-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(20% - 1.2em));
  grid-template-columns: repeat(5, calc(20% - 1.2em));
  grid-gap: 1.5em;
  margin-top: 1em;
  margin-bottom: 3.5em;
  max-width: 100%;
}

.home-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(20% - 5em));
  grid-template-columns: repeat(5, calc(20% - 5em));
  grid-gap: 6em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  max-width: 100%;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media-btn {
  cursor: poiner;
  pointer-events: all;
  color: #858585;
  font-weight: 600;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  letter-spacing: 0.0125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.75;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.social-media-btn:hover {
  opacity: 1;
}

.primary-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(33% - 1em));
  grid-template-columns: repeat(3, calc(33% - 1em));
  grid-gap: 2em;
  margin-top: 4em;
  width: 100%;
}

.primary-post-card {
  width: 100%;
}

.primary-post-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 16em;
  border-radius: 1.4em;
  aspect-ratio: 16/9;
  -webkit-box-shadow: 0 5px 10px rgba(80, 60, 0, 0.05);
  box-shadow: 0 5px 10px rgba(80, 60, 0, 0.05);
}

.primary-post-header {
  font-size: 1.4em;
  font-weight: 600;
  max-width: 100%;
  letter-spacing: 0.0125em;
  color: #111111;
  margin: 0.25em 0;
  line-height: 1.45em;
  max-height: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.primary-description-box {
  position: relative;
}

.primary-post-description {
  font-size: 0.9em;
  font-weight: 400;
  max-width: 100%;
  letter-spacing: 0.012em;
  color: #444444;
  margin: 0;
  margin-top: 0.6em;
  line-height: 1.65em;
  max-height: 4.95em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-post-btn-box {
  position: absolute;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(15%, #f8f8f8)
  );
  background: linear-gradient(90deg, transparent 0%, #f8f8f8 15%);
  padding: 0.1em 0.3em;
  padding-left: 3em;
}

.primary-post-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.primary-post-btn p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 0.95em;
  color: #ffa900;
}

.secondary-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(25% - 1em));
  grid-template-columns: repeat(4, calc(25% - 1em));
  grid-gap: 2em;
  margin-top: 3em;
  max-width: 100%;
}

.secondary-post-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}

.secondary-post-image {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 1.1em;
  -webkit-box-shadow: 0 5px 10px rgba(80, 60, 0, 0.05);
  box-shadow: 0 5px 10px rgba(80, 60, 0, 0.05);
}

.secondary-post-header {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  max-width: 100%;
  letter-spacing: 0.0125em;
  color: #111111;
  margin: 0;
  padding: 0;
  padding-top: 0.55em;
  line-height: 1.5em;
  max-height: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(2, auto);
  grid-gap: 4em;
  margin: 4em 0;
  margin-top: 5em;
  max-width: 100%;
}

.main-post-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  margin-top: -1em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-post-date {
  position: absolute;
  top: -2.45em;
  left: 0;
  font-weight: 400;
  color: #6e6e6e;
  font-size: 0.85em;
}

.main-post-right {
  width: 75%;
}

.main-post-image {
  width: 20%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 0.7em;
  -webkit-box-shadow: 0 5px 10px rgba(80, 60, 0, 0.05);
  box-shadow: 0 5px 10px rgba(80, 60, 0, 0.05);
}

.main-post-header {
  font-size: 1.2em;
  font-weight: 600;
  max-width: 100%;
  letter-spacing: 0.0125em;
  color: #111111;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  max-height: 2.6em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-description-box {
  position: relative;
}

.main-post-description {
  font-size: 0.9em;
  font-weight: 400;
  max-width: 100%;
  letter-spacing: 0.012em;
  color: #444444;
  margin: 0;
  margin-top: 0.5em;
  line-height: 1.65em;
  max-height: 4.95em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-post-btn-box {
  position: absolute;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(15%, #f8f8f8)
  );
  background: linear-gradient(90deg, transparent 0%, #f8f8f8 15%);
  padding: 0.1em 0.3em;
  padding-left: 3em;
}

.main-post-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.main-post-btn p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 0.95em;
  color: #ffa900;
}

.post-division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 4em;
}

article {
  width: 72.5%;
  position: relative;
}

.post-image {
  width: 100%;
  aspect-ratio: 2;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 5px 10px rgba(80, 60, 0, 0.08);
  box-shadow: 0 5px 10px rgba(80, 60, 0, 0.08);
}

.post-info {
  color: #707070;
  font-size: 1em;
  margin: 0;
  padding: 10;
  font-weight: 400;
  margin-top: -0.2em;
  margin-bottom: 0.1em;
}

.post-info > * {
  padding-right: 10px;
}

.image-author {
  color: #444444;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.article-title {
  font-size: 2.75em;
  font-weight: 700;
  letter-spacing: 0.015em;
  line-height: 1.3em;
  color: #111111;
  width: 100%;
}

.article-content {
  color: #222222;
  font-size: 1.2em;
  line-height: 1.95em;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.post-sidebar {
  width: 22%;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

a {
  color: #ffa900;
  text-decoration: none;
}
/*# sourceMappingURL=app.css.map */
