// $max-with: 1250px;
$color-primary: #FFA900;

//----------SCROLLTOP-----------//

.scroll-top{
    background-color: white;
    width: 4em;
    height: 4em;
    display: flex;
    border: none;
    justify-content: center;
    position: fixed;
    align-items: center;
    bottom: 1.5em;
    right: 1.5em;
    border-radius: 12px;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 .5em 2.2em rgba(60, 50, 0, .12);
    transition: all 330ms ease-in-out;
}

//-----------COOKIES------------//

.cookies-box{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    font-size: 1em;
    align-items: center;
    justify-content: space-between;
    padding: 1.75em;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    background-color: white;
    box-shadow: 0 -.5em 6.4em rgba(60, 50, 0, .18);
    transition: all 330ms ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}

.cookies-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2.5em;
    .cookies-header{
        font-size: .9em;
        font-weight: 500;
        padding: .25em;
        margin: 0;
        color:#2E2E2E;
        white-space: nowrap;
    }
    .cookies-description{
        font-size: .775em;
        font-weight: 400;
        padding: .25em;
        margin: 0;
        color:#2E2E2E;
        opacity: .5;
    }
}

.cookies-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookies-agree{
    cursor: pointer;
    pointer-events: all;
    border: none;
    p{
        font-size: .825em;
        font-weight: 500;
        color: white;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }
    padding: .6em 1.5em;
    background: linear-gradient(170deg, #FFA000,#FFC300);
    border-radius: .65em;
    box-shadow: 0 5px 22px rgba(60, 50, 0, .0);
    transition: all 200ms ease-in-out;
    &:hover{
        transform: scale(1.01);
        box-shadow: 0 5px 22px rgba(60, 50, 0, .1);
    }
    &:active{
        transform: scale(0.985);
        box-shadow: 0 5px 22px rgba(60, 50, 0, .0);
    }
}

.cookies-disagree{
    cursor: pointer;
    pointer-events: all;
    border: none;
    margin-top: 1em;
    margin-bottom: -.5em;
    p{
        font-size: .75em;
        font-weight: 400;
        color: $color-primary;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }
    transition: all 200ms ease-in-out;
    &:hover{
        transform: scale(1.01);
    }
    &:active{
        transform: scale(0.985);
    }
}


//------------NAVBAR------------//


.nav-bar{
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    // max-width: $max-with;
    padding-top: 1vh;
    position: relative;
}

.nav-desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: -1.25vh;
}

.link-box{
    margin: 0 1.75em;
    margin-top: -.5em;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    font-size: .9em;
    font-weight: 500;

    &:hover{
        text-decoration: underline;
    }
}

.logo-box{
    width: 1.75em;
    height: 1.75em;
}

.login-btn{
    margin-top: -.9vh;
    cursor: pointer;
    pointer-events: all;
    border: none;
    p{
        font-size: .85em;
        font-weight: 500;
        color: $color-primary;
        padding: 0;
        margin: 0;
    }
    padding: .55em 1.6em;
    background-color:white;
    border-radius: .55em;
    box-shadow: 0 5px 22px rgba(60, 50, 0, .1);
    transition: all 200ms ease-in-out;
    &:hover{
        transform: scale(1.01);
        box-shadow: 0 5px 30px rgba(60, 50, 0, .15);
    }
    &:active{
        transform: scale(0.985);
        box-shadow: 0 5px 22px rgba(60, 50, 0, .05);
    }
}
.login-btn-mobile{
    margin-top: -1.6em;
    cursor: pointer;
    pointer-events: all;
    border: none;
    p{
        font-size: 4em;
        font-weight: 500;
        color: $color-primary;
        padding: 0;
        margin: 0;
    }
    padding: 2em 5em;
    background-color:white;
    margin-bottom: 1em;
    border-radius: 1.5em;
    box-shadow: 0 5px 22px rgba(60, 50, 0, .1);
    transition: all 200ms ease-in-out;
    &:hover{
        transform: scale(1.01);
        box-shadow: 0 5px 30px rgba(60, 50, 0, .15);
    }
    &:active{
        transform: scale(0.985);
        box-shadow: 0 5px 22px rgba(60, 50, 0, .05);
    }
}

#indicator{
    position: absolute;
    top: -.17vh;
    background-color: $color-primary;
    height: .475em;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    transition: all 250ms ease-in-out;

}

.mobile-top{
    border-radius: 1.5em;
    transition: all 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    padding-bottom: 1.75em;
    position: absolute;
    right: 0;
    top: -4.75em;
    z-index: 99999;
    box-shadow: 0 5px 25px rgba(60, 50, 0, .1);
}

.nav-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    transition: all 200ms ease-in-out;
}

.link-box-mobile{
    text-align: center;
    z-index: 99999;
    text-decoration: none;
    font-size: 5em;
    padding: .15em 1.8em;
    margin: .15em .9em;
    transition: all 200ms ease-in-out;
    outline: default;
}


//------------------------------//




//---------LOGIN SCREEN---------//




.login-container{
    width: 100vw;
    height: 100vh;
    inset: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999999999999;
    transition: opacity 300ms ease-in-out;
}





.login-bg{
    background-color: black;
    opacity: .3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: all;
}

.login-box{
    background-color: white;
    border-radius: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 53em;
    height: 30em;
    min-width: 777px;
    min-height: 450px;
    position: fixed;
    box-shadow: 0 7px 40px rgba(60, 50, 0, .1);
    pointer-events: all;
    transition: all 300ms ease-in-out;

}


.login-left{
    height: 100%;
    flex-shrink: 0;
    max-width: 60%;
    width: 60%;
    min-width: 60%;
    min-height: 100%;
    object-fit: cover;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.login-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.login-header{
    font-weight: 800;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.login-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-disabled{
    margin-top: 2em;
    display:flex;
    padding: .8em;
    background-color: #F6F6F6;
    border: #979797 .15em dashed;
    border-radius: .6em;
    width: 70%;
    
}

.disabled-p{
    font-size: .8em;
    padding: 0;
    margin: 0;
    line-height: 1.45em;
    text-align: center;
    color: #5c5c5c;
    font-weight: 400;
}

.login-google-btn{
    width: 70%;
    display: flex;
    background-color: $color-primary;
    border-radius: .6em;
    padding: .8em .95em;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(71, 49, 0, .12);
    transition: all 200ms ease-in-out;

    &:hover{
        box-shadow: 0 5px 22px rgba(71, 49, 0, .18);
        transform: scale(1.01);
    }
}

.login-google-p{
    font-weight: 500;
    font-size: .925em;
    color: white;
    padding: 0;
    margin: 0;
}

.login-info{
    font-weight: 300;
    font-size: .65em;
    text-align: center;
    width: 79%;
}

.login-error{
    font-weight: 400;
    font-size: .7em;
    text-align: right;
    width: 80%;
    color: rgb(252, 63, 30);
    margin: 0;
    margin-top:.3em;
    margin-bottom: -.3em;
    padding: 0;
}

.register-p{
    font-weight: 400;
    font-size: .75em;
    padding: .65em;
    margin: 0;
}

.register-a{
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;
    pointer-events: all;
}


//-------------HOME------------//

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.5%;
}

.home-1{
    width: 95%;
    // max-width: $max-with;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 87vh;
    position: relative;
}

.more{
    position: absolute;
    bottom: -1em;
    left: 2em;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    pointer-events: all;
    cursor: pointer;
}
.more1{
    height: 1em;
    border-left: .15em solid $color-primary;
    transform-origin: bottom left;
    transform: rotate(45deg);
}
.more2{
    font-size: 1.25em;
    font-weight: 300;
    width: 6.5em;
    padding: 0;
    margin: 0;
    color: $color-primary;
    border-top: .1em solid $color-primary;
}

.CTA{
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
}

h1{
    font-weight: 700;
    color: #111111;
    letter-spacing: .009em;
    font-size: 3.4em;
    padding: 0;
    margin: 0;
}

h4{
    font-weight: 400;
    color: #4B4B4B;
    letter-spacing: .009em;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
    margin-bottom: .9em
}

.CTA-primary{
    color: white;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Poppins';
    background: linear-gradient(165deg,#FF9900,#FFC300);
    padding: .65em 2em;
    border-radius: .75em;
    cursor: pointer;
    pointer-events: all;
    text-decoration: none;
    box-shadow: 0 7px 25px rgba(141, 113, 0, .12);
    transition: all 175ms ease-in-out;
    &:hover{
        box-shadow: 0 7px 30px rgba(141, 113, 0, .18);
        transform: scale(1.015);
    }
    &:active{
        box-shadow: 0 5px 10px rgba(141, 113, 0, .05);
        transform: scale(.985);
    }
}

.CTA-secondary{
    color: $color-primary;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Poppins';
    background: transparent;
    padding: .65em 2em;
    border-radius: .75em;
    cursor: pointer;
    pointer-events: all;
    text-decoration: none;
    transition: all 175ms ease-in-out;
    &:hover{
        color: #eb9c00
    }
    &:active{
        color:#ffb41d
    }
}

.reset{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none
}

.LN{
    display: flex;
    flex-direction: column;
    padding-top: 2.1em;
}

h5{
    font-weight: 300;
    font-size: 1.75em;
    color:white;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-bottom: .3em;
    padding-top: 1em;
}

.LN-box{
    display: flex;
    flex-direction: row;

}

.LN-container{
    background-color: white;
    border-radius: 1.5em;
    width: 9.35em;
    height: 10.5em;
    margin-left: 1.3em;
    display:flex;
    justify-content: center;
    box-shadow: 0 5px 30px rgba(141, 113, 0, .1);
    align-items: center;
}

.LN-txt{
    color: $color-primary;
    font-weight: 800;
    font-size: 4.5em;
}

.home-2{
    width: 95%;
    // max-width: $max-with;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 28em;
    position: relative;
    margin-top: 10em;
}

.top-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:auto;
}

.description-image{
    width: 55%;
    max-width: 45%;
    position: relative;

    img{
        width: 95%;
        border-radius: 2em;
        box-shadow: 0 7px 25px rgba(141, 113, 0, .18);
    }
}

.info-part{
    width: 50%;
    padding-left: 2em;
}

.description-header{
    color: #111111;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-bottom: .75em
}

.description-p{
    color: #222222;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 2em;
    
}

.person-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}

.person-avatar{
    background-color: tomato;
    height: 5.5em;
    width: 5.5em;
    border-radius: 50%;
    transform: translateY(40%);
    margin-top: -2.5em
}

.person-description{
    background-color: white;
    box-shadow: 0 5px 20px rgba(141, 113, 0, .1);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7em 0;
    padding-top: 3em;
    width: 14.5em;
}

.person-name{
    color: #111111;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0;
    padding-bottom: .2em;
    margin: 0;
}
.person-role{
    color: #111111;
    font-weight: 200;
    font-size: .85em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.main-roles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    // max-width: $max-with;
    padding: 1.5em 0;
    margin-bottom: 4em;
}

.person-class{
    position: absolute;
    color: #f0f0f0;
    font-weight: 800;
    font-size: 5em;
    bottom: -.9em;
    right: 0em;
    margin: 0;
    padding: 0;
    z-index: -9;
}







main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
    flex-wrap: wrap;
}

